* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("images/bg-desktop.svg");
  background-color: #674bb1;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: left;
  padding-left: 6%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  margin-top: 20px;
}

.hero {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.heroImg {
  max-width: 50%;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  max-width: 450px;
}

p {
  max-width: 450px;
  line-height: 1.6;
  margin-bottom: 30px;
}

button {
  width: 40%;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: white;
  color: #674bb1;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.219);
}

button:hover {
  background-color: #e980e7;
  color: white;
  transition: 0.3s;
}

.socialLinks {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
  width: 83vw;
}

a img {
  width: 35px;
  border: 1px solid white;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

a img:hover {
  background-color: #fc4ebe;
  border-color: #fc4ebe;
}


@media (max-width: 500px) {
body {
    background-image: url("images/bg-mobile.svg");
    text-align: center;
    padding: 10px;
  }

.logo {
    width: 40%;
    margin-bottom: 10px;
  }

.hero {
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
  }

.heroImg {
    max-width: 100%;
    margin-top: 5px;
    height: 30vh;
  }

h1 {
    font-size: 1.9rem;
    margin: 5px;
  }

 p {
    max-width: 320px;
    margin: 10px;
  }

button{
    width: 70%;
  }

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100vw;
    }

a img {
    width: 35px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    }
}


@media (max-width: 320px){ 
.logo {
    width: 40%;
    margin-bottom: 5px;
  }

.hero {
    flex-direction: column;
    gap: 10px;
    margin-top: 5px;
  }

.heroImg {
    max-width: 100%;
    margin-top: 2px;
    height: 50vh;
    width: 90vw;
  }

h1 {
    font-size: 1.5rem;
    margin: 5px;
  }

p {
    max-width: 320px;
    margin: 10px;
  }

button{
    width: 50%;
    padding-bottom: 10px;
    padding-top: 10px;
  }

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    width: 100vw;
    }

a {
    margin-bottom: 30px;
    }
}

